<!DOCTYPE html>
<html>
  <head>
    <title>HipLampin</title>
 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <meta property="og:title" content="HipLampin" />
      <meta property="og:image" content="https://hip-lamping-cover-photos.s3.us-west-1.amazonaws.com/Hip-Lampin.png" />
       
     <meta property="og:description"
       content="This Project is a Clone of HipCamp"
     />
     <meta property="og:url"
       content="https://hip-lampin.herokuapp.com/#/"
     />
     <meta content="width=device-width, initial-scale=1" name="viewport" />

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places"%>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"  crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
